<div class="row">
    <div class="col-md-4">
        <div class="card-body">
            <h1>FOLMULARIO</h1>

        </div>
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1>FOLMULARIO</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Categorías</th>
                        <th scope="col">Estudio</th>
                        <th scope="col">Lanzamiento</th>
                        <th scope="col">Pegi</th>
                        <th scope="col">Plataforma</th>
                        <th scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>