<!doctype html>

<html ng-app="MainApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1">
        <title>GAME</title>
        <!-- Cargamos las librerias de angular -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <!--Cargamos el js de angular-->
        <script src="core.js"></script>
    </head>
    <body ng-controller = "mainController">
        <div class="container">
            <div ng-prueba>
                <h1>N. de registros: <span>{{ videojuegos.length }} </span></h1>
            </div>

            <div>
              <table>
                <tr>
                  <td>Titulo</td>
                  <td>Genero</td>
                  <td>Lanzamiento</td>
                  <td>Plataforma</td>
                  <td>Descripcion</td>
                </tr>
                <tr ng-repeat = "videojuego in videojuegos" ng-click="selectVideojuego(videojuego)">
                  <td>{{ videojuego.titulo}} </td>
                  <td>{{ videojuego.categoria}} </td>
                  <td>{{ videojuego.lanzamiento}} </td>
                  <td>{{ videojuego.plataforma}} </td>
                  <td>{{ videojuego.estudio}} </td>
                  <td>{{ videojuego.stock}} </td>
                  <td>{{ videojuego.pegi}} </td>
                  <td>{{ videojuego.precio}} </td>
                </tr>
              </table>
            </div>
            <div>
              <form name="myForm">
                <div>
                  <input type="text" placeholder="Titulo" ng-model="newVideojuego.titulo" required> <br>
                  <input type="text" placeholder="Genero" ng-model="newVideojuego.categoria" required> <br>
                  <input type="text" placeholder="Lanzamiento" ng-model="newVideojuego.lanzamiento" required> <br>
                  <input type="text" placeholder="Plataforma" ng-model="newVideojuego.plataforma" required> <br>
                  <input type="text" placeholder="Descripcion" ng-model="newVideojuego.estudio" required> <br>
                  <input type="text" placeholder="Descripcion" ng-model="newVideojuego.stock" required> <br>
                  <input type="text" placeholder="Descripcion" ng-model="newVideojuego.pegi" required> <br>
                  <input type="text" placeholder="Descripcion" ng-model="newVideojuego.precio" required> <br>
                </div>

                <!-- Acciones que podemos realizar en el formulario -->
                <button tupe="submit" ng-click="registrarVideojuego()" ng-disabled = "myForm."









                <tr ng-repeat="videojuego in videojuegos" ng-click=""
